* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #535353;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #535353;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader img {
  width: 150px;
  height: 150px;
  animation: pulse 2s infinite ease-in-out;
  border-radius: 50%;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

header {
  background-color: #27241d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.title_h {
  font-family: "Jura", sans-serif;
  font-weight: 1000;
  font-size: 1.8rem;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: "Jura", sans-serif;
    transition: color 0.3s ease;
    display: inline-block;
}

.menu a:hover {
  color: #da0700;
}

.menu-toggle {
  display: none; 
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.menu_h {
  display: grid; 
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 1rem;
  justify-items: center;
  padding: 20px;
}

.menu_e {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 1rem;
  justify-items: center;
  padding: 20px;
}

#heroCarousel {
  background-color: #555;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
.super{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 1rem;
}
.info{
  background-image: url(../assets/img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  font-family: "Jura", sans-serif;
  border-top: 3px solid #312b2b;
  border-bottom: 3px solid #da0700;
  padding-bottom: 10px;
  padding-top: 10px;
}
.info h2{
  font-weight: 500;
  font-size: 45px;
  text-shadow:
    -1px -1px 0 #ff0000,
     1px -1px 0 #ff0000,
    -1px  1px 0 #ff0000,
     1px  1px 0 #ff0000;
}
.info_c{
  padding: 5px;
  margin: 10px;
  background-color: #790501;
  border-radius: 10px;
  border: 3px solid #ff3b34;
  transition: transform 0.3s ease;
}
.info_c:hover {
  transform: translateY(-5px);
}
.guia{
  height: 200px;
  width: 260px;
  border-radius: 5px;
}
.guia2{
  height: 200px;
  width: 290px;
  border-radius: 5px;
}
.guia3{
  height: 200px;
  width: 290px;
  border-radius: 5px;
}
.ejer{
  text-align: center;
  font-family: "Jura", sans-serif;
  background-color: #471412;
  margin: 0;
  padding: 0;
}
.ejer h2{
  padding-top: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 45px;
  text-shadow:
    -1px -1px 0 #ff0000,
     1px -1px 0 #ff0000,
    -1px  1px 0 #ff0000,
     1px  1px 0 #ff0000;
}

.card_ejercicio {
  border: 3px solid #ff3b34;
  width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card_ejercicio i {
  font-size: 40px;
  color: #c0392b;
  margin-bottom: 10px;
}

.card_ejercicio:hover {
  transform: translateY(-5px);
}
.desc_e {
  color: #fff;
  font-size: 25px;
}

.herr{
  background-image: url(../assets/img/drum2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: "Jura", sans-serif;
  background-color: #471412;
  margin: 0;
  padding: 0;
}
.herr h2{
  padding-top: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 45px;
  text-shadow:
    -1px -1px 0 #ff0000,
     1px -1px 0 #ff0000,
    -1px  1px 0 #ff0000,
     1px  1px 0 #ff0000;
}

.card_herramienta {
  border: 3px solid #ff3b34;
  width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card_herramienta i {
  font-size: 40px;
  color: #c0392b;
  margin-bottom: 10px;
}

.card_herramienta:hover {
  transform: translateY(-5px);
}
.desc_h {
  color: #fff;
  font-size: 25px;
}
footer {
  background-color: #434343;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  font-family: "Jura", sans-serif;
}

footer h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-shadow:
    -1px -1px 0 #ff0000,
     1px -1px 0 #ff0000,
    -1px  1px 0 #ff0000,
     1px  1px 0 #ff0000;
}

footer p {
  margin: 5px 0;
  font-size: 18px;
}

.redes-sociales a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.redes-sociales a:hover {
  color: #ff3b34;
}


@media (max-width: 1024px) {
  #heroCarousel {
    height: 400px;
    margin-top: 90px;
    height: calc(100vh - 90px);
  }
}

@media (max-width: 480px) {
  #heroCarousel {
    margin-top: 90px;
    height: calc(100vh - 90px);
    height: 200px;
  }
}

@media (max-width: 768px) {
   .menu {
        flex-direction: column; /* Elementos en columna */
        position: fixed;
        top: 100px; /* Ajusta según altura de tu header */
        left: 0;
        right: 0;
        background-color: #27241d;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        padding: 0; /* Elimina padding por defecto */
        gap: 0; /* Elimina espacio entre elementos */
    }
    
    .menu.show {
        max-height: 100vh;
        overflow-y: auto;
    }
    
    .menu a {
        padding: 15px 20px;
        text-align: left;
        border-bottom: 1px solid #444;
        width: 100%;
        box-sizing: border-box;
        display: block; /* Ocupa toda la línea */
    }
    
    .menu a:hover {
        background-color: #da0700;
        color: #fff;
    }
    
    .menu-toggle {
        display: block;
        z-index: 1001;
    }
    
    body.menu-open {
        overflow: hidden;
    }
  .title_h {
    font-family: "Jura", sans-serif;
    font-weight: 1000;
    font-size: 1.3rem;
  }
  #heroCarousel {
    margin-top: 90px;
    height: calc(100vh - 90px);
    height: 300px;
  }
  .guia{
    height: 100px;
    width: 100%;
    border-radius: 5px;
  }
  .guia2{
    height: 100px;
    width: 100%;
    border-radius: 5px;
  }
  .guia3{
    height: 100px;
    width: 100%;
    border-radius: 5px;
  }
  .card_ejercicio {
    width: 160px;
    padding: 2px;
  }
  .card_ejercicio h3{
    font-weight: 10px;
    font-size:larger;
  }
  .card_herramienta {
    width: 160px;
    padding: 2px;
  }
  .card_herramienta h3{
    font-weight: 10px;
    font-size:larger;
  }
}